body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  padding-top: 10px;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 15px;
}

header {
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  background-color: #000;
  top: 0;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
}

nav span a {
  color: white;
  margin: 15px 10px;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: auto;
}

#mission .mission-content {
  width: 100%;
  background-color: #000;
  margin: auto;
}

#monthly-tea {
  width: 1000px;
  margin: auto;
  height: 700px;
  padding-top: 100px;
}

.monthly-content {
  padding: 5px;
}

.monthly-content img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px;
}

.monthly-content span {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

#locations {
  height: 500px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  padding-top: 75px;
  margin: auto;
}

.locations-content {
  width: 300px;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-top: 15px;
  opacity: 1;
}

.tea-cozy {
  height: 200px;
}

.footer {
  text-align: left;
  margin-left: 20px;
}
